.start-button{
  height: vw(90);
  width: vw(400);
  background: rgba(255,255,255,0.6);
  border-radius: vw(90);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: vw(36);
  margin: 0 auto;
}